@font-face {
	font-family: 'iconfont';  /* project id 579589 */
	src: url('https://at.alicdn.com/t/font_579589_qymvykvqh8e61or.eot');
	src: url('https://at.alicdn.com/t/font_579589_qymvykvqh8e61or.eot?#iefix') format('embedded-opentype'),
	url('https://at.alicdn.com/t/font_579589_qymvykvqh8e61or.woff') format('woff'),
	url('https://at.alicdn.com/t/font_579589_qymvykvqh8e61or.ttf') format('truetype'),
	url('https://at.alicdn.com/t/font_579589_qymvykvqh8e61or.svg#iconfont') format('svg');
}
body,html{
	background-color: #F3F3F3;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
    transition: all 0.8s;
	position: relative;
}
.header{
	width: 100%;
	height: 100%;
	/*height: 470px;*/
	background-image: url('../img/header.jpg');
	background-position: center 0;
	/* background-size: auto 100%; */
	/* 覆盖容器大小 */
	background-size: cover;
	text-align: center;
	position: relative;
}
.header_logo{
	width: 150px;
	height: 50px;
	border:1px solid #fff;
	border-radius: 5px;
	position: absolute;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	margin:auto;
	top: 220px;
	font-family: 'iconfont';
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}
.content1{
	width: 100%;
	height: 110px;
	background-position: center 0;
	/* background-size: auto 100%; */
	/* 覆盖容器大小 */
	background-size: cover;
	text-align: center;
	margin-top: 20px;
    cursor: pointer;
}
.content2{
	width: 100%;
	background-color: #D7D7D7;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
}
.content2_1{
	width: 270px;
	height: 58px;
	/* background-color: yellow; */
	margin: 0 auto;
	font-size: 36px;
	text-align: center;
	line-height: 58px;
	color: #fff;
	font-family: '华文行楷';
}
.content2_2{
	width: 777px;
	height: 440px;
	background-color: red;
	margin: 0 auto;
	margin-top: 90px;
}
.content3{
	width: 100%;
	margin-top: 15px;
	/* background: skyblue; */
}
.content3 span{
	display: block;
	font-size: 18px;
	font-family: '华文行楷';
}
.content4{
	width: 100%;
	/* background: pink; */
	margin-top: 20px;
}
.content4 img{
	width: 100%;
}
.content5{
	width: 100%;
	height: auto;
	/* background-color: plum; */
	float: left;
	/* padding: 12px; */
	margin-bottom: 30px;
	box-shadow:  0 0 2px #333;
}
.imgbox{
	width: 100%;
	height: 300px;
	height: auto;
	/* 撑开盒子 */
	padding-top: 94%;
	/* background-color: red; */
	position: relative;
}
.imgbox1{
	width: 100%;
	height: auto;
	/* 撑开盒子 */
	padding-top: 69%;
	/* background-color: red; */
	position: relative;
}
.imginner{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
}
.imginnerHover{
    width: 100%;
    height: 100%;
    background-color: #5d5d5d;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    color: #fff;
}
.imginnerHover span{
    display: block;
}
.innerW1{
    font-size: 14px;
    margin-top: 5px;
}
.innerW2{
    font-size: 12px;
    margin-top: 8px;
}
.imginner:hover .imginnerHover{
    opacity: 0.8;
}
.imginner1{
	width: 100%;
	/* height: 100%; */
	position: absolute;
	top: 0;
	left: 0;
}
.imginner img{
	width: 100%;
	height: 300px;
}
.imginner1 img{
	width: 100%;
	height: 200px;
}
.title{
	height: 30px;
	line-height: 30px;
	/* background: plum; */
	text-align: center;
	font-size: 14px;
	color: #777;
}
.title a{
	color: #777;
}
.title a:hover{
	color: #333;
}
.content6{
	width: 100%;
	margin-top: 50px;
}
.content6 span{
	font-size: 30px;
	color: #7a828a;
	font-family: '华文行楷';
}
.content7{
	width: 100%;
	/* height: 70px; */
	/* background-color: #CED8E4; */
	padding-top: 6px;
}
.content7 span{
	display: block;
	font-size: 14px;
	text-align: center;
	color: #7a828a;
	font-family: '华文行楷';
}
.content8{
	width: 100%;
	height: 100px;
	background-color: #4E4E4E;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content8_1{
	width: 350px;
	height: 100%;
	/* background: skyblue; */
	margin: 0 auto;
	position: relative;
	padding-top: 30px;
}
.content8_1 img{
	width: 150px;
	height: 170px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.content8_1_1 span{
	display: block;
	font-family: '华文行楷';
	font-size: 36px;
	color: #fff;
}
.content9{
	/* background: red; */
	margin: 0 auto;
}
.content9_1{
	width: 100px;
	height: 100px;
	/* background: skyblue; */
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid #C1CEDE;
	margin-top: 20px;

	font-family: 'iconfont';
	font-size: 36px;
	text-align: center;
	color: #C1CEDE;
	line-height: 100px;
}
.content9_1 span{
	display: block;
}
.content9_1:hover{
	background-color: #C1CEDE;
	color: #fff;
	/* transition: 0.5s linear;
	transform: scale(2, 2); */
}
.content9_1 span:hover{
	transition: 0.3s linear;
	transform: scale(1.5, 1.5);
}
.content9_2{
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}
.content9_3{
	margin-top: 20px;
	/* margin-left: 40px; */
	display: block;
}
.content9_4 span{
	display: block;
	color: #828282;
	font-size: 16px;
	text-align: center;
	margin-bottom: 8px;
}
.content9_4 a{
	display: block;
	color: #333;
	font-size: 14px;
	text-align: center;
    margin-top: 3px;
}
.content9_4 a:hover{
    color: #ff6700;
}
.footer{
	width: 100%;
	background-color: #4E4E4E;
	margin: 0 auto;
	padding-top: 100px;
	margin-top: 50px;
}
.footer_zong{
	width: 660px;
	height: 180px;
	/* background: yellow; */
	margin: 0 auto;
}
.footer_1{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.footer_2{
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.footer_3{
	font-size: 20px;
	font-weight: 200;
	color: #fff;
	text-align: center;
}
.tubiao{
	font-family: 'iconfont';
	/* background: red; */
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}
.contavt_1{
	text-align: center;
	margin-top: 10px;
	color: #333;
	font-size: 20px;
}
.contavt_2{
	text-align: center;
	margin-top: 10px;
	color: #333;
	font-size: 20px;
}
.footer_4_1{
	background-color: #F3F5F8;
	border-bottom: 3px solid #E04343;
	padding: 30px 0;
	margin-top: 50px;
    cursor: pointer;
}
.footer_4_1:hover{
	border-bottom: 3px solid #FFE801;
	/* box-shadow: 0 10px 20px 5px #d8d8d8; */
	transform:translateY(-9px);
	transition: 0.5s  linear,opacity 1s linear;
}
.footer_5{
	margin-bottom: 30px;
}
.footer_5_2{
	width: 100%;
	/* background: skyblue; */
	margin-top: 50px;
}
.input1{
	width: 48%;
	height: 45px;
	float: left;
    padding-left: 10px;
}
.input2{
	float: right;
}
.textarea3{
	height: 232px;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #cbcbcb;
    padding-left: 10px;
    padding-top: 15px;
}
.button1{
	float: right;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 400;
	background-color: #F2F2F2;
	color: #333;
}
.button1:hover{
	background-color: #333;
	color: #F2F2F2;
}
.bottom_3{
	width: 100%;
	height: 52px;
	background-color: #111;
	text-align: center;
	line-height: 52px;
	color: #555;
	font-size: 18px;
}

.pagerBox{
	width: 30px;
	height: 150px;
	/*background: red;*/
	position: fixed;
	right: 20px;
	top:50%;
	margin-top: -75px;                     /* 让其整体居中 */
	display: flex;                        /* 弹性布局 */
	flex-wrap: wrap;                      /* 换行 */
	justify-content: center;             /* 水平居中 */
	align-content: space-around;         /* 垂直居中 */
}
.page{
	width: 20px;
	height:20px;
	background: #8c8c8c;
	border-radius: 50%;
	cursor: pointer;
	/*display: block;*/
}
.page.active{
	background: red;
}
.topBar{
	width: 30px;
	height: 30px;
	/*background: red;*/
	border-radius: 50px;
	position: fixed;
	right: 100px;
	bottom: 100px;
	z-index: 999;
}
.topBar img{
    width: 200px;
    height: 150px;
    cursor: pointer;
}